apiVersion: apps/v1
kind: Deployment
metadata:
  name: game-2048
spec:
  replicas: 2
  selector:
    matchLabels:
      app: game-2048
  template:
    metadata:
      labels:
        app: game-2048
    spec:
      containers:
      - name: game-2048
        image: 444853190810.dkr.ecr.us-east-1.amazonaws.com/2048-app:latest
        ports:
        - containerPort: 80
